@{
    ViewData["Title"] = "home page";
}
<br />
<div class="text-center">
    <img src="~/frango.jpg" alt="Descrição da Imagem" width="470" height="400">
</div>
<br />
<br />
<div class="text-center"> 
   <h1>Curta nossas redes socias</h1>

<a href="https://www.instagram.com/bakanas_lanches0927/" target="_blank">
    <img src="~/instagram.png" alt="Instagram" width="100" height="100">
</a>
<a href="https://api.whatsapp.com/send/?phone=5586999866028" target="_blank">
    <img src="~/whatsapp.png" alt="WhatsApp" width="100" height="100">
</a>
</div>