@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div>
        <h1> X-Hamburguer</h1>
        <img src="~/OIP.jpg" width="300" height="300">
        <p>Espeto de Carne Valor: 8,00</p>
    </div>

    <div>
        <h1>BAK-Hamburguer</h1>
        <img src="~/frango.jpg" width="300" height="300">
        <p>Espeto de Frango Valor: 8,00 <br /> carne queijo ,frango</p>
    </div>
    <div>
        <h1>BAK-Hamburguer</h1>
        <img src="~/frango.jpg" width="300" height="300">
        <p>Espeto de Frango Valor: 8,00 <br /> carne queijo ,frango</p>
    </div>
</div>

<div class="container">
    <div>
        <h1> X-Hamburguer</h1>
        <img src="~/OIP.jpg" width="300" height="300">
        <p>Espeto de Carne Valor: 8,00</p>
    </div>
    <div>
        <h1>BAK-Hamburguer</h1>
        <img src="~/frango.jpg" width="300" height="300">
        <p>Espeto de Frango Valor: 8,00 <br /> carne queijo ,frango</p>
    </div>
    <div>
        <h1>BAK-Hamburguer</h1>
        <img src="~/frango.jpg" width="300" height="300">
        <p>Espeto de Frango Valor: 8,00 <br /> carne queijo ,frango</p>
    </div>
</div>
